﻿<div>
    <h3>
        @Titulo
    </h3>

    <p>
        <a href="#" target="Nossa Loja">Visite Nossa Loja</a>
    </p>
    <p>
        <img @attributes="ParametrosAdicionais"/>
    </p>
</div>
@code {
    [Parameter]
    public string Titulo { get; set; }

    [Parameter(CaptureUnmatchedValues =true)]
    public Dictionary<string, object> ParametrosAdicionais { get; set; }
}
