﻿
<EditForm Model="@categoria" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label form="nome">Nome:</label>
        <div>
            <InputText id="txtCategoriaNome" @bind-Value="@categoria.Nome" class="form-control" />
            <ValidationMessage For="@(() => categoria.Nome)" />
        </div>
    </div>
    <div class="form-group">
        <label form="descricao">Descrição:</label>
        <div>
            <InputTextArea @bind-Value="@categoria.Descricao" class="form-control" />
            <ValidationMessage For="@(() => categoria.Descricao)" />
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-success">@ButtonTextSubmit</button>
    <button class="btn btn-danger" @onclick="@(()=>navigation.NavigateTo("categoria"))">@ButtonTextCancelar</button>
</EditForm>

@code {
    [Inject]
    public NavigationManager navigation { get; set; }

    [Parameter]
    public Categoria categoria { get; set; }

    [Parameter]
    public string ButtonTextSubmit { get; set; } = "Salvar";

    [Parameter]
    public string ButtonTextCancelar { get; set; } = "Cancelar";

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }
}