﻿@page "/categoria/create" 
@inject HttpClient http
@inject NavigationManager navigation
@inject IJSRuntime js

<h2>Nova Categoria</h2>

<CategoriaForm categoria="@categoria" OnValidSubmit="@CriarCategoria"
               ButtonTextSubmit="Salvar" ButtonTextCancelar="Cancelar"/>

@code {
    Categoria categoria = new Categoria();

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Focus("txtCategoriaNome");
        }
    }

    public async Task Focus(string elementId)
    {
        await js.InvokeVoidAsync("focusById", elementId);
    }

    async Task CriarCategoria()
    {
        await http.PostAsJsonAsync("api/categoria", categoria);
        navigation.NavigateTo("categoria");

    }
}
