﻿@page "/categoria/edit/{categoriaid:int}"
@inject HttpClient http
@inject NavigationManager navigation

<h2>Editar Categoria</h2>

<CategoriaForm categoria="@categoria" OnValidSubmit="@EditarCategoria"
               ButtonTextSubmit="Salvar" ButtonTextCancelar="Cancelar" />

@code {
    [Parameter]
    public int categoriaid { get; set; }

    Categoria categoria = new Categoria();

    protected async override Task OnParametersSetAsync()
    {
        categoria = await http.GetFromJsonAsync<Categoria>($"api/categoria/{categoriaid}");     
    }

    async Task EditarCategoria()
    {
        await http.PutAsJsonAsync("api/categoria", categoria);
        navigation.NavigateTo("categoria");
    }
}
