﻿@page "/categoria"
@inject HttpClient http
@using System.Text.Json

<AuthorizeView>
    <Authorized>
        <h2>Categorias</h2>

        <div>
            <a class="btn btn-success" href="/categoria/create">Criar Categoria</a>
        </div>

        <br />

        <div class="form-inline">
            <label class="sr-only"
                   for="filter-name">
                Filtro
            </label>
            <input type="text"
                   @bind="@nomeFiltro"
                   class="form-control mb-2 mr-sm-2"
                   placeholder="Filtrar pelo nome" />

            <button type="button" class="btn btn-primary mr-sm-2 mb-2" @onclick="Filtrar">
                Filtrar
            </button>
            <button type="button" class="btn btn-danger mb-2" @onclick="LimparFiltro">
                Limpar
            </button>
        </div>

        <br />

        @if (categorias == null)
        {
            <p><em>Carregando...</em></p>
        }
        else if (categorias.Count == 0)
        {
            <p><em>Não existem categorias cadastradas...</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Categoria</th>
                        <th>Descrição</th>
                        <th>Editar</th>
                        <th>Deletar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var categoria in categorias)
                    {
                        <tr>
                            <td>@categoria.Nome</td>
                            <td>@categoria.Descricao</td>
                            <td>
                                <a class="btn btn-primary" href="categoria/edit/@categoria.CategoriaId">Editar</a>
                            </td>
                            <td>
                                <a class="btn btn-danger" @onclick="@(()=> DeletarCategoria(categoria.CategoriaId))">Deletar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        <Confirma @ref="confirma" onCancela="@CancelaConfirma" onConfirma="@DeletaConfirma">
            <div>
                Deseja realmente excluir este item?
            </div>
        </Confirma>
        <hr />

        <Paginacao QuantidadeTotalPaginas="QuantidadeTotalPaginas" PaginaAtual="PaginaAtual"
                   Raio="2" PaginaSelecionada="PaginaSelecionada">

        </Paginacao>
    </Authorized>
    <NotAuthorized>
        <h1>Usuário Não Autorizado...</h1>
    </NotAuthorized>
</AuthorizeView>

@code {

        Confirma confirma;
        int CodigoCategoria;
        List<Categoria> categorias { get; set; }

    private int QuantidadeTotalPaginas;
    private int PaginaAtual = 1;
    private string nomeFiltro = string.Empty;

    private async Task PaginaSelecionada(int pagina)
    {
        PaginaAtual = pagina;
        await CarregaCategorias(pagina);
    }

    protected override async Task OnInitializedAsync()
    {
        await CarregaCategorias();
    }

    private async Task Filtrar()
    {
        PaginaAtual = 1;
        await CarregaCategorias();
    }

    public async Task LimparFiltro()
    {
        nomeFiltro = string.Empty;
        PaginaAtual = 1;
        await CarregaCategorias();
    }

    async Task CarregaCategorias(int pagina = 1, int quantidadePorPagina = 5)
    {
        var httpResponse =
            await http.GetAsync($"api/categoria?pagina={pagina}&quantidadePorPagina={quantidadePorPagina}&nome={nomeFiltro}");

        if (httpResponse.IsSuccessStatusCode)
        {
            QuantidadeTotalPaginas =
                int.Parse(httpResponse.Headers.GetValues("totalPaginas").FirstOrDefault());

            var responseString =
                await httpResponse.Content.ReadAsStringAsync();

            categorias = JsonSerializer.Deserialize<List<Categoria>>(responseString,
                new JsonSerializerOptions()
                {
                    PropertyNameCaseInsensitive = true
                });
        }

        //categorias = await http.GetFromJsonAsync<List<Categoria>>("api/categoria");
    }

    void DeletarCategoria(int categoriaId)
    {
        confirma.Exibir();
        CodigoCategoria = categoriaId;

    }

    async Task DeletaConfirma()
    {
        await http.DeleteAsync($"api/categoria/{CodigoCategoria}");
        confirma.Ocultar();
        await CarregaCategorias();
    }

    void CancelaConfirma()
    {
        confirma.Ocultar();
    }
}
