﻿@page "/deleteuser/{id:guid}"
@inject IUserService userService
@inject IWebHostEnvironment Env
@inject NavigationManager navigation

<h2>Confirma Exclusão?</h2>
<p>Deseja realmente deletar este usuário com Id: <b>@Id</b></p>
<br />

<Alerta Exibir="Exibir">
    <h3>@Mensagem</h3>
</Alerta>

<div class="col-md-4">
    <table class="table">
        <tr>
            <th>Nome</th>
            <th>@user.UserName</th>
        </tr>
        <tr>
            <th>Normalizado</th>
            <th>@user.Email</th>
        </tr>
    </table>
    <div class="form-group">
        <input type="button" value="Deletar" @onclick="@Delete" class="btn btn-primary" />
        <input type="button" value="Cancelar" @onclick="@Cancel" class="btn btn-outline-primary" />
    </div>
</div>

@code {
    [Parameter]
    public Guid Id { get; set; }
    [Parameter]
    public string Mensagem { get; set; }

    User user = new User();

    bool Exibir = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            user = await userService.GetUser(Id);
        }
        catch (Exception ex)
        {
            Exibir = true;

            if (Env.IsDevelopment())
            {
                Mensagem = "Erro ao acessar os dados ... \n " + ex.StackTrace.ToString();
            }
            else
            {
                Mensagem = "Não foi possível acessar os dados do perfil do usuário" + ex.InnerException;
            }
        }
    }

    void Cancel()
    {
        navigation.NavigateTo("users");
    }

    protected async Task Delete()
    {
        try
        {
            await userService.DeleteUser(Id);
            navigation.NavigateTo("users");
        }
        catch (Exception ex)
        {
            Exibir = true;

            if (Env.IsDevelopment())
            {
                Mensagem = "Erro ao deletar os dados ... \n " + ex.StackTrace.ToString();
            }
            else
            {
                Mensagem = "Não foi possível deletar os dados do perfil do usuário" + ex.InnerException;
            }
        }
    }
}
