﻿@typeparam Titem

@if (ListaItem == null)
{
    if (Carregando == null)
    {
        <text>Carregando...</text>
    }
    else
    {
        @Carregando
    }
}
else if (!ListaItem.Any())
{
    if (Carregando == null)
    {
        <text>Não existem tarefas</text>
    }
    else
    {
        @SemRegistro
    }
}
else
{
    foreach(var elemento in ListaItem)
    {
        @Lista(elemento)
    }
}

@code {
    [Parameter] public RenderFragment Carregando { get; set; }
    [Parameter] public RenderFragment SemRegistro { get; set; }
    [Parameter] public List<Titem> ListaItem { get; set; }
    [Parameter] public RenderFragment<Titem> Lista { get; set; }
}
