﻿@inject IJSRuntime js
  
<h1>@Titulo</h1>


    <table class="table">
        <thead>
            <tr>
                <th>Ação</th>
                <th>Data</th>
                <th>Descrição</th>
                <th>Concluída</th>
            </tr>
        </thead>
        <tbody>
            <ListaGenerica ListaItem="tarefas">
                <Lista Context="tarefa">
                    <TarefaIndividual item="tarefa" RemoverTarefa="RemoverTarefa" />
                </Lista>
            </ListaGenerica>
        </tbody>
    </table>

@if (tarefas != null)
{
    <div class="form-group">
        <label>Tarefa</label>
        <input type="Text" placeholder="Informe a tarefa" @bind="novaTarefa" />
        <button class="btn btn-primary" @onclick="AdicionarNovaTarefa">Registrar Tarefa</button>
    </div>
}

<Confirma @ref="Confirmacao" onCancela="CancelaConfirmacao" onConfirma="RemoveTarefaConfirmacao">
    <div>
        Deseja excluir esta tarefa?
    </div>
</Confirma>

@code {

    static int totalTarefas = 0;
    private string novaTarefa = "";

    [Parameter] public List<Tarefa> tarefas { get; set; }
    [Parameter] public string Titulo { get; set; }

    Confirma Confirmacao;
    Tarefa tarefaRemover;

    async void AdicionarNovaTarefa()
    {
        if (!string.IsNullOrWhiteSpace(novaTarefa))
        {
            tarefas.Add(new Tarefa
            {
                DataCriacao = DateTime.Now,
                Descricao = novaTarefa,
                ID = Guid.NewGuid()
            });

            novaTarefa = "";
            totalTarefas = tarefas.Count;
            //await js.InvokeVoidAsync("getTotalTarefas");
            await js.InvokeAsync<int>("getTotalTarefasInstancia", DotNetObjectReference.Create(this));
        }
    }

    private void RemoverTarefa(Tarefa tarefa)
    {
        Confirmacao.Exibir();
        tarefaRemover = tarefa;
        //var resultado =
        //    await js.InvokeAsync<bool>("confirm", "Excluir Tarefa?");

        ////Caso a necessidade seja utilizar o método síncrono
        ////var res = ((IJSInProcessRuntime)js).Invoke<bool>("confirm", "Excluir Tarefa?");

        //if (resultado)
        //{
        //    tarefas.Remove(tarefas.First(x => x.ID == tarefa.ID));
        //    await js.InvokeAsync<object>("MostraAlerta", "Tarefa excluída com sucesso.");
        //}
    }

    void RemoveTarefaConfirmacao()
    {
        tarefas.Remove(tarefaRemover);
        Confirmacao.Ocultar();
        tarefaRemover = null;
    }

    void CancelaConfirmacao()
    {
        Confirmacao.Ocultar();
        tarefaRemover = null;
    }

    [JSInvokable]
    public static Task<int> ObterTotalTarefas()
    {
        return Task.FromResult(totalTarefas);
    }

    [JSInvokable]
    public Task<int> ObterTotalTarefasInstancia()
    {
        return Task.FromResult(totalTarefas);
    }
}