﻿<tr>
    <td><button @onclick="@(()=>RemoverTarefa.InvokeAsync(item))"><i class="oi oi-trash"></i></button></td>
    <td>@item.DataCriacao</td>
    <td>@item.Descricao</td>
    <td><input type="checkbox" @bind="item.Concluida" />@item.Concluida</td>
</tr>

@code {
    [Parameter] public Tarefa item { get; set; }
    //Passagem de evento como parametro
    [Parameter] public EventCallback<Tarefa> RemoverTarefa { get; set; }
}
