﻿@page "/"
@inject IRepositorio repositorio
 
<h1>Tarefas</h1>

<Tarefas tarefas="@GetTarefas()" Titulo="Lista de tarefas"/>

@code {
    private List<Tarefa> tarefas = new List<Tarefa>();

    protected override void OnInitialized()
    {
        tarefas = repositorio.ObterTarefas();
    }

    private List<Tarefa> GetTarefas()
    {
        return tarefas;
    }
} 