﻿@page "/"

<h1>Catálogo de produtos</h1>

@*<AuthorizeView>
    <Authorized>
        <h2>
            Olá, @context.User.Identity.Name
        </h2>
        <br />
        @if (context.User.IsInRole("Admin"))
        {
            <text>Usuário Admin</text>
        }
    </Authorized>
    <NotAuthorized>
        <h2>
            Usuário não autorizado...
        </h2>
    </NotAuthorized>
</AuthorizeView>*@

@code{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var authState = await authenticationState;
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            Console.WriteLine($"Bem-vindo {user.Identity.Name}");
            if (user.IsInRole("Admin"))
            {
                Console.WriteLine("Você faz parte do perfil Admin");
            }
        }
        else
        {
            Console.WriteLine("Usuário não autenticado");
        }
    }
}