﻿@page "/"
@implements IDisposable

<h1>@Titulo</h1>

<h2>Fui renderizado as @HoraRenderizacao</h2>

@code {
    private string Titulo { get; set; }
    private string HoraRenderizacao { get; set; }

    protected override void OnInitialized()
    {
        HoraRenderizacao = DateTime.Now.ToLongTimeString();
        Console.WriteLine($"Inicialização do componente às: {HoraRenderizacao}");
        Titulo = "Olá Blazor";
    }

    protected override void OnParametersSet()
    {
        HoraRenderizacao = DateTime.Now.ToLongTimeString();
        Console.WriteLine($"Executei OnParameterSet às: {HoraRenderizacao}");
        Console.WriteLine($" --> Recebimento dos parametros do componente Pai");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        HoraRenderizacao = DateTime.Now.ToLongTimeString();
        Console.WriteLine($"Executei OnAfterRender às: {HoraRenderizacao}");
        Console.WriteLine($" --> Término da renderização do componente às {HoraRenderizacao}");
    }

    public void Dispose()
    {
        HoraRenderizacao = DateTime.Now.ToLongTimeString();
        Console.WriteLine($"Liberei o componente às: {HoraRenderizacao}");
    }
}