﻿@page "/formulario1" 

<h3>Meu primeiro formulário</h3>

@if(ultimoSubmit != null)
{
    <h2>
        Status do último submit: @ultimoSubmit
    </h2>
}

<EditForm Model="@usuario" OnSubmit="OnSubmitForm">
    <DataAnnotationsValidator />
    @*<ValidationSummary />*@

    <div class="form-group">
        <label form="nome">Nome</label>
        <InputText id="nome" @bind-Value="usuario.Nome" class="form-control" />
        <ValidationMessage For="()=>usuario.Nome"/>
    </div>
    <div class="form-group">
        <label form="email">E-mail</label>
        <InputText id="email" @bind-Value="usuario.Email" class="form-control" />
        <ValidationMessage For="@(()=>usuario.Email)" />
    </div>
    <div class="form-group">
        <label form="idade">Idade</label>
        <InputNumber id="idade" @bind-Value="usuario.Idade" class="form-control" />
        <ValidationMessage For="@(()=>usuario.Idade)" />
    </div>
    <input type="submit" value="Enviar Formulário" class="btn btn-primary" />
</EditForm>

@code {
    Usuario usuario = new Usuario();

    string ultimoSubmit;

    //private void Submeter()
    //{
    //    Console.WriteLine($"Submit: {usuario}");
    //}

    private void ValidFormSubmitido(EditContext context)
    {
        ultimoSubmit = "Formulário Válido" + context.Validate();
    }

    private void InvalidFormSubmitido(EditContext context)
    {
        ultimoSubmit = "Formulário inválido" + context.Validate();
    }

    private void OnSubmitForm(EditContext context)
    {
        bool formIsValid = context.Validate();
        ultimoSubmit = formIsValid ? "Sucesso - Formulário válido" : "Falhou - formulário inválido";
    }
}
