﻿@using W8lessLabs.Blazor.LocalFiles 

<div>
    <label>@Label</label>

    <div>
        <button type="button" @onclick="@(() => imagemSelecaoArquivo.SelectFiles())">Selecionar Imagem</button>
        <FileSelect @ref="imagemSelecaoArquivo"  FilesChanged="ImagemArquivoSelecionado" Accept=".jpg, .jpeg, .png"></FileSelect>
    </div>
</div>
<div>
    @if (ImagemBase64 != null)
    {
        <div>
            <div style="margin:10px;">
                <img src="data:image/jpeg:base64, @ImagemBase64" style="width: 150px;" />
            </div>
        </div>
    }
    @if (ImagemRemota != null)
    {
        <div>
            <div style="margin:10px;">
                <img src="data:image/jpeg:base64, @ImagemRemota" style="width: 150px;" />
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public string Label { get; set; } = "Imagem";

    [Parameter]
    public string ImagemRemota { get; set; }

    [Parameter]
    public EventCallback<string> ImagemSelecionada { get; set; }

    private string ImagemBase64;

    private FileSelect imagemSelecaoArquivo;

    async Task ImagemArquivoSelecionado(FileSelectChangeArgs args)
    {
        var arquivoSelecionado = args.Files.FirstOrDefault();

        using (var imagesBytes = imagemSelecaoArquivo.GetFileBytesAsync(arquivoSelecionado.Name))
        {
            ImagemBase64 = Convert.ToBase64String(imagesBytes.Result);

            await ImagemSelecionada.InvokeAsync(ImagemBase64);

            ImagemRemota = null;

            StateHasChanged();
        }
    }
}
