﻿<AuthorizeView>
    <Authorized>
        Olá, @context.User.Identity.Name !
        <a href="logout" class="nav-link btn btn-link">Logout</a>
    </Authorized>
    <NotAuthorized>
        <a href="register" class="nav-link btn btn-link">Registro</a>
        <a href="login" class="nav-link btn btn-link">Login</a>
    </NotAuthorized>
</AuthorizeView>