﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Catalogo_Blazor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="catalogo" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Catalogo
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="categoria" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> Categorias
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="produto" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> Produtos
            </NavLink>
        </li>
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="backup">
                        <span class="oi oi-plus" aria-hidden="true"></span> Backup
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>        
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
