﻿@page "/"
@inject ILocalStorageService localStorage

<h1> Minhas rotas no local storage</h1>

<textarea @bind="minhasNotasPessoais" />
<br />

<button @onclick="AtualizarLocalStorage">Atualiza Local Storage</button>
<button @onclick="LimparLocalStorage">Limpar Local Storage</button>

@code {
    public string minhasNotasPessoais { get; set; }
    private const string notaKey = "mac";

    protected override async Task OnInitializedAsync()
    {
        minhasNotasPessoais = await localStorage.GetItemAsync<string>(notaKey);
    }

    public async void AtualizarLocalStorage()
    {
        await localStorage.SetItemAsync(notaKey, minhasNotasPessoais);
    }

    public async void LimparLocalStorage()
    {
        minhasNotasPessoais = "";
        await localStorage.ClearAsync();
    }
}