﻿@page "/counter"

<body style="background-color:@config.CorDeFundo">
    <h1 style="font-size:@config.TamanhoFonte">Counter</h1>

    <p>Current count: @currentCount</p>

    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
</body>

<div style="display:flex">
    Selecione a cor
    <div style="width: 150px">
        <select @bind="@config.CorDeFundo" class="form-control" style="margin-top:15px">
            <option value="green">Verde</option>
            <option value="white">Branco</option>
            <option value="red">Vermelho</option>
            <option value="orange">Laranja</option>
        </select>
    </div>

    Selecione a fonte
    <div style="width: 150px">
        <select @bind="@config.TamanhoFonte" class="form-control" style="margin-top:15px">
            <option value="20px">20</option>
            <option value="40px">40</option>
            <option value="60px">60</option>
            <option value="80px">80</option>
        </select>
    </div>
</div>

@code {

    [CascadingParameter] 
        Config config { get; set; }

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
