﻿@page "/"

<h1>Olá, @nome</h1>

<h1>data e hora : @DateTime.Today</h1>

<h1>Dia da semana : @data</h1>
<hr />

<h1>@Saudacao(nome)</h1>

<h1>2 + 2 = @(2+2)</h1>

@*<button @onclick="@(()=> Console.WriteLine("Fui clicado"))">Clique Aqui</button>*@
<button @onclick="@TrataCliqueBotao()">Clique Aqui</button>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@

@code{
    string nome = "William";
    private string data = DateTime.Now.DayOfWeek.ToString();

    private string Saudacao(string nome)
    {
        var mensagem = "Bem-Vindo " + nome.ToUpper();
        return mensagem;
    }

    private void TrataCliqueBotao()
    {
        Console.WriteLine("Fui clicado2");
    }

}