﻿@page "/atributos"

<h3>Atributos</h3>

<button @onclick="@AlterarEstado">Alterar Estado</button>

<br />

Input disabled :
<input disabled="@Estado" />
<br />
Input readonly :
<input readonly="@Estado" />
<br />
CheckBox Checked:
<input type="checkbox" checked="@Estado" />

@code {
    public bool Estado { get; set; }
    private void AlterarEstado()
    {
        Estado = !Estado;
    }
}
