﻿@page "/"

<h1>@Mensagem</h1>

<h2>@Saudacao()</h2>

<button @onclick="AtualizaMensagem">Atualizar Mensagem</button>
<input @bind="@Mensagem" />

@code {
    private string Mensagem { get; set; } = "Olá, William";

    private string Saudacao()
    {
        return "Bem-Vindo, ao Blazor";
    }

    private void AtualizaMensagem()
    {
        Mensagem = "Olá, Blazor, tudo bem ??";
    }
}