﻿@page "/navegador"
@inject NavigationManager navigation
 
<h3>Navegador</h3>
<br />
<button @onclick="Navegar1">Navegar para Macoratti</button>
<br />
<button @onclick="Navegar2">Navegar para Counter</button>
<br />
<button @onclick="Navegar3">Navegar para Home</button>
<br />
<button @onclick="ValorUri">Uri</button>
<label>@URI</label>
<br />
<button @onclick="ValorBaseUri">BaseUri</button>
<label>@BaseURI</label>

@code {
    [Parameter]
    public string URI { get; set; }

    [Parameter]
    public string BaseURI { get; set; }

    public void Navegar1()
    {
        navigation.NavigateTo("http://www.macoratti.net");
    }

    public void Navegar2()
    {
        navigation.NavigateTo("/counter");
    }

    public void Navegar3()
    {
        navigation.NavigateTo("/");
    }

    public void ValorUri()
    {
        URI = navigation.Uri.ToString();
    }

    public void ValorBaseUri()
    {
        BaseURI = navigation.BaseUri.ToString();
    }

}
