﻿@typeparam TItem

    <table border="1">
        <thead>
            <tr>
                @Cabecalho
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Itens)
            {
                <tr>
                    @Linha(item)
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                @Rodape
            </tr>
        </tfoot>
    </table>

@code {
    [Parameter]
    public RenderFragment Cabecalho { get; set; }

    [Parameter]
    public RenderFragment<TItem> Linha { get; set; }

    [Parameter]
    public RenderFragment Rodape { get; set; }

    [Parameter]
    public IReadOnlyList<TItem> Itens { get; set; }

}
