﻿@page "/produto/create"
@inject HttpClient http
@inject NavigationManager navigation
@inject IJSRuntime js

<h2>Novo Produto</h2>

<ProdutoForm produto="@produto" OnValidSubmit="@CriarProduto"
               ButtonTextSubmit="Salvar" ButtonTextCancelar="Cancelar"/>

@code {

    Produto produto = new Produto();

    //protected async override Task OnAfterRenderAsync(bool firstRender)
    //{
    //    if (firstRender)
    //    {
    //        await Focus("txtProdutoNome");
    //    }
    //}

    //public async Task Focus(string elementId)
    //{
    //    await js.InvokeVoidAsync("focusById", elementId);
    //}

    async Task CriarProduto()
    {
        await http.PostAsJsonAsync("api/produto", produto);
        navigation.NavigateTo("produto");
    }
}
