﻿@page "/produto/edit/{produtoid:int}"
@inject HttpClient http
@inject NavigationManager navigation

<h2>Editar Produto</h2>

<ProdutoForm produto="@produto" OnValidSubmit="@EditarProduto"
             ButtonTextSubmit="Salvar" ButtonTextCancelar="Cancelar" 
             ImagemRemota="@ImagemRemota"/>
@code {
    private Produto produto = new Produto();
    private string ImagemRemota { get; set; }

    [Parameter]
    public int produtoid { get; set; }


    protected async override Task OnParametersSetAsync()
    {
        produto = await http.GetFromJsonAsync<Produto>($"api/produto/{produtoid}");     
    }

    async Task EditarProduto()
    {
        ImagemRemota = null;
        await http.PutAsJsonAsync("api/produto", produto);
        navigation.NavigateTo("produto");
    }
}
