﻿@page "/produto"
@inject HttpClient http
@inject NavigationManager navigation
@using System.Text.Json
@attribute [Authorize]

<h2>Produtos</h2>
<br />
<AuthorizeView Roles="Admin">
    <Authorized>
        <div>
            <a class="btn btn-success" href="/produto/create">Novo Produto</a>
        </div>
    </Authorized>
    <NotAuthorized>
        <h2>
            Somente usuário Admin pode incluir um produto.
        </h2>
    </NotAuthorized>
</AuthorizeView>

<br />

<div class="form-inline">
    <label class="sr-only"
           for="filter-name">
        Filtro
    </label>
    <input type="text"
           @bind="@nomeFiltro"
           class="form-control mb-2 mr-sm-2"
           placeholder="Filtrar pelo nome" />

    <button type="button" class="btn btn-primary mr-sm-2 mb-2" @onclick="Filtrar">
        Filtrar
    </button>
    <button type="button" class="btn btn-danger mb-2" @onclick="LimparFiltro">
        Limpar
    </button>
</div>

<br />
@if (produtos == null)
{
    <p><em>Carregando...</em></p>
}
else if (produtos.Count == 0)
{
    <p><em>Não existem produtos cadastradas...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Editar</th>
                <th>Deletar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var produto in produtos)
            {
                <tr>
                    <td>@produto.Nome</td>
                    <td>@produto.Descricao</td>
                    <td>
                        <a class="btn btn-primary" href="produto/edit/@produto.ProdutoId">Editar</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" @onclick="@(()=> DeletarProduto(produto.ProdutoId))" style="color:white;">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<Confirma @ref="confirma" onCancela="@CancelaConfirma" onConfirma="@DeletaConfirma">
    <div>
        Deseja realmente excluir este item?
    </div>
</Confirma>
<hr />
<Paginacao QuantidadeTotalPaginas="QuantidadeTotalPaginas" PaginaAtual="PaginaAtual"
           Raio="2" PaginaSelecionada="PaginaSelecionada">

</Paginacao>
@code {
    List<Produto> produtos { get; set; }
    Confirma confirma;
    int CodigoProduto;
    private string nomeFiltro = string.Empty;
    private int QuantidadeTotalPaginas;
    private int PaginaAtual = 1;

    protected override async Task OnInitializedAsync()
    {
        await CarregaProdutos();
    }

    async Task CarregaProdutos(int pagina = 1, int quantidadePorPagina = 5)
    {
        var httpResponse =
            await http.GetAsync($"api/produto?pagina={pagina}&quantidadePorPagina={quantidadePorPagina}&nome={nomeFiltro}");

        if (httpResponse.IsSuccessStatusCode)
        {
            QuantidadeTotalPaginas =
                int.Parse(httpResponse.Headers.GetValues("totalPaginas").FirstOrDefault());

            var responseString =
                await httpResponse.Content.ReadAsStringAsync();

            produtos = JsonSerializer.Deserialize<List<Produto>>(responseString,
                new JsonSerializerOptions()
                {
                    PropertyNameCaseInsensitive = true
                });
        }

        //produtos = await http.GetFromJsonAsync<List<Produto>>("api/produto");
    }

    void DeletarProduto(int produtoId)
    {
        confirma.Exibir();
        CodigoProduto = produtoId;

    }

    async Task DeletaConfirma()
    {
        await http.DeleteAsync($"api/produto/{CodigoProduto}");
        confirma.Ocultar();
        await CarregaProdutos();
    }

    void CancelaConfirma()
    {
        confirma.Ocultar();
    }

    private async Task Filtrar()
    {
        PaginaAtual = 1;
        await CarregaProdutos();
    }

    public async Task LimparFiltro()
    {
        nomeFiltro = string.Empty;
        PaginaAtual = 1;
        await CarregaProdutos();
    }

    async Task PaginaSelecionada(int pagina)
    {
        PaginaAtual = pagina;
        await CarregaProdutos(pagina);
    }
}
