﻿
<EditForm Model="@produto" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label form="nome">Nome:</label>
        <div>
            <InputText id="txtProdutoNome" @bind-Value="@produto.Nome" class="form-control" />
            <ValidationMessage For="@(() => produto.Nome)" />
        </div>
    </div>
    <div class="form-group">
        <label form="descricao">Descrição:</label>
        <div>
            <InputTextArea @bind-Value="@produto.Descricao" class="form-control" />
            <ValidationMessage For="@(() => produto.Descricao)" />
        </div>
    </div>
    <div class="form-group">
        <label form="descricao">Preço:</label>
        <div>
            <InputNumber @bind-Value="@produto.Preco" class="form-control" />
            <ValidationMessage For="@(() => produto.Preco)" />
        </div>
    </div>
    <div class="form-group">
        <label form="descricao">Categoria:</label>
        <div>
            <select @onchange="CategoriaSelectionChanged" class="form-control">
                @if(categorias != null)
                {
                    @foreach(var categoria in categorias)
                    {
                        <option value="@categoria.CategoriaId" selected="@(categoria.CategoriaId == produto.CategoriaId ? true : false)">
                            @categoria.Nome
                        </option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <InputImagem Label="Imagem" ImagemSelecionada="@ImagemSelecionada" ImagemRemota="@ImagemRemota">

        </InputImagem>
    </div>
    <br />
    <button type="submit" class="btn btn-success">@ButtonTextSubmit</button>
    <button class="btn btn-danger" @onclick="@(()=>navigation.NavigateTo("categoria"))">@ButtonTextCancelar</button>
</EditForm>

@code {
    List<Categoria> categorias;

    [Inject]
    public NavigationManager navigation { get; set; }

    [Inject]
    public HttpClient http { get; set; }

    [Parameter]
    public Produto produto { get; set; }

    [Parameter]
    public string ButtonTextSubmit { get; set; } = "Salvar";

    [Parameter]
    public string ButtonTextCancelar { get; set; } = "Cancelar";

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

    [Parameter]
    public string ImagemRemota { get; set; }

    private void ImagemSelecionada(string imagemBase64)
    {
        produto.ImagemUrl = imagemBase64;
        ImagemRemota = null;
        produto.CategoriaId = categorias[0].CategoriaId;
    }

    protected async override Task OnInitializedAsync()
    {
        await CarregaCategorias();
    }

    private async Task CarregaCategorias()
    {
        categorias = await http.GetFromJsonAsync<List<Categoria>>("api/categoria/todas");
    }

    void CategoriaSelectionChanged(ChangeEventArgs e)
    {
        if(int.TryParse(e.Value.ToString(), out int id))
        {
            produto.CategoriaId = id;
        }
    }
}