﻿@page "/counter"
@page "/counter/1"
@page "/counter/2"

<h1>Counter</h1>

<a href="/">Atalho Home</a>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
