﻿@page "/logout"
@inject NavigationManager navigation
@inject TokenAuthenticationProvider authStateProvider

<h4>Logout</h4>

<Aviso Exibir="Exibir">
    <h5>@Mensagem</h5>
</Aviso>


@code {
    bool Exibir = false;

    [Parameter]
    public string Mensagem { get; set; }

    protected async override Task OnInitializedAsync()
    {
        try
        {
            await authStateProvider.Logout();
            navigation.NavigateTo("/");
        }
        catch (Exception ex)
        {
            Exibir = true;
            Mensagem = $"Não foi possível realizar o logout. Erro {ex.Message}";
        }
    }
}
