﻿<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">
        ₢ 2020 Copyright:
        <a href="http://www.william.com.br/"> William Dev Test</a>
    </div>
</footer>